body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/*---------------
 header section
 ----------------*/
header{
    margin: 95px 120px 45px 120px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav a{
    color: #000;
    text-decoration: none;
}
.nav-left a{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}
.nav-right a{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-left: 34px;
}
/*---------------
 header section
 ----------------*/

 /*---------------
 main section
 ----------------*/
 
