body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color:  #fffbfb;
}
/*---------------
 header section
 ----------------*/
header{
    margin: 95px 120px 45px 120px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav a{
    color: #000;
    text-decoration: none;
    color: #3A3A3A;
}
.nav-left a{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}
.nav-right a{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-left: 34px;
}
/*---------------
 header section
 ----------------*/

 /*---------------
 section-1
 ----------------*/
 .section-1{
     display: flex;
     justify-content: space-between;
     margin: 0px 120px 80px 120px;
 }
 .section-1-title h1{
    line-height: 70px;
    font-size: 60px;
    color: #3A3A3A;
 }
 .section-1-paragraph{
     margin-bottom: 5%;
     color: #3A3A3A;
 }
 .section-1-button{
     background-color: #E02C6D;
     padding: 15px 30px;
     border-radius: 41px;
 }
 .section-1-button:hover{
     background-color: rgb(39, 37, 37);
 }
 .section-1-button a{
     text-decoration: none;
     color: #fff;
 }
 .section-1-right img{
    width: 480px;
    height: 454px;
 }
 .image-hover:hover{
     transform: scale(1.2);
     transition: transform 2s ease-in-out;
 }
  /*---------------
 section-1
 ----------------*/

   /*---------------
 section-2
 ----------------*/
 .section-2{
     margin-bottom: 10%;
 }
 hr{
     width: 1290px;
     color: #AAA;
     border-radius: 50%;
 }
 .logos{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     padding: 10px 0px;
 }
 .logos img{
    width: 100px;
    height: 60px;
 }
   /*---------------
 section-2
 ----------------*/


    /*---------------
 section-3
 ----------------*/
 .section-3{
     display: flex;
     justify-content: center;
 }
 .equipment-box-container h1{
     text-align: center;
     margin-bottom: 5%;
     color: #3A3A3A;
 }
 .equipment-box{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-gap: 45px;
 }
 .equipment-rating p{
     color: #3A3A3A;
 }
.equipment-image img{
    width: 300px;
    height: 256px;
    border-radius: 10px;
}
.equipments{
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.2);
}
.filled{
    color: #FB8200;
}
    /*---------------
 section-3
 ----------------*/

     /*---------------
 section-4
 ----------------*/
 .section-4{
     margin: 50px 200px 100px 200px;
 }
 .section-4-button{
     text-align: right;
 }
 .section-4 a{
     text-decoration: none;
     color: #E02C6D;
     font-weight: bold;
     font-size: 20px;
     line-height: 24px;
 }
     /*---------------
 section-4
 ----------------*/

   /*---------------
 section-5
 /* ----------------*/

 .section-5{
     margin-left: 120px;
     margin-right: 120px;
     margin-bottom: 100px;
 }
 
 .section-5-container{
     display: flex;
     justify-content: space-between;
 }
 .photography h1{
     font-weight: 700;
     font-size: 38px;
     line-height: 60px;
 }
 .photography p{
     margin-bottom: 7%;
     color: #3A3A3A;
 }
 .photography span{
    background-color: #E02C6D;
    padding: 15px 30px;
 }
 .photography a{
     text-decoration: none;
     color: #fff;
 }  
 .section-5-button:hover{
    background-color: rgba(0, 0, 0, 0.829); 
 }
   /*---------------
 section-5
 ----------------*/

 /*---------------
 footer
 ----------------*/
 footer{
     background-color: #0A0826;
     padding: 5% 0%;
     font-family: 'Yeseva One', cursive;
     font-style: italic;
 }
 .footer-content{
     text-align: center;
     color: #fff;
 }
 .footer-icons{
     display: flex;
     justify-content: center;
 }
 .footer-icons i{
     margin: 0px 15px;
 }
 .footer-icons a{
     color: #fff;
     font-size: 24px;
 }
 /*---------------
 footer
 ----------------*/
