body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/*---------------
 header section
 ----------------*/
header{
    margin: 95px 120px 45px 120px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav a{
    color: #000;
    text-decoration: none;
}
.nav-left a{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}
.nav-right a{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-left: 34px;
}
/*---------------
 header section
 ----------------*/

 /*---------------
 main section
 ----------------*/
 .section-1{
     display: flex;
     justify-content: space-between;
     margin: 0px 120px 20px 120px;
 }
 .section-1-title h1{
    line-height: 70px;
    font-size: 60px;
 }
 .section-1-paragraph{
     margin-bottom: 5%;
 }
 .section-1-button{
     background-color: #E02C6D;
     padding: 15px 30px;
     border-radius: 41px;
 }
 .section-1-button a{
     text-decoration: none;
     color: #fff;
 }
 .section-1-right img{
    width: 440px;
    height: 414px;
 }
